<app-filter></app-filter>
<app-page></app-page>
<section class="dishes-list-container">
  <div class="dishes-list-element" *ngFor="let dish of filterService.dishes | filterDishes:
    filterService.name:
    filterService.cuisines:
    filterService.categories:
    filterService.ratings:
    filterService.minPrice:
    filterService.maxPrice:
    cartCurrencyService.currencies[cartCurrencyService.currentCurrency].value | slice:
    (paginationService.currentPage - 1) * paginationService.itemsPerPage:
     paginationService.currentPage * paginationService.itemsPerPage">
    <app-dish [dish]="dish"></app-dish>
  </div>
</section>
<app-page></app-page>

