<div class="dish-container" [ngStyle]="{'background-color': available(dish) <+ 3 ? 'orange' : null,
  'border-color': dish.price == filterService.maxPrice ? 'green' : (dish.price == filterService.minPrice) ? 'red' : null}">
  <h3 class="dish-name">
    {{dish.name | uppercase}}
  </h3>
  <picture class="dish-picture">
    <img src="{{dish.photos[0]}}" alt="picture of {{dish.name}}" [routerLink]="['/dish/', dish.id]" routerLinkActive="active">
  </picture>
  <p class="dish-cuisine">
    {{dish.cuisine | uppercase}}
  </p>
  <p class="dish-type">
    {{dish.type}}
  </p>
  <p class="dish-category">
    {{dish.category}}
  </p>
  <p class="dish-price" [hidden]="available(dish) <= 0">
    {{(dish.price * cartCurrencyService.currencies[cartCurrencyService.currentCurrency].value).toFixed(2)}}
    {{cartCurrencyService.currencies[cartCurrencyService.currentCurrency].symbol}}
  </p>
  <p class="dish-unavailable" [hidden]="available(dish) > 0">
    Dish unavailable
  </p>
  <button class="dish-add" (click)="cartCurrencyService.addToCart(dish)"
          [hidden]="!canAddToCart(dish) ">
    +
  </button>
  <button class="dish-remove" (click)="cartCurrencyService.removeFromCart(dish)">
    -
  </button>
  <p class="dish-ordered" [ngStyle]="{'background-color': dish.ordered > 10
      ? 'blue' : 'darkorange'}">{{dish.ordered}}</p>
  <p class="dish-rating">
    <span *ngFor="let star of stars">
      <img class="dish-star"
           [src]="dish.rating >= star ? '../../assets/images/gold_star.png' : '../../assets/images/black_star.png'"
           alt="star">
    </span>
  </p>
</div>
