<div class="persistence-container">
  <h1>Set persistence</h1>
  <button (click)="persistenceService.setPersistence('local'); persistence='local'"
          [ngStyle]="{'border-color': persistence == 'local' ? 'white' : null}">Local</button>
  <button (click)="persistenceService.setPersistence('session'); persistence='session'"
          [ngStyle]="{'border-color': persistence == 'session' ? 'white' : null}">Session</button>
  <button (click)="persistenceService.setPersistence('none'); persistence='none'"
          [ngStyle]="{'border-color': persistence == 'none' ? 'white' : null}">None</button>
</div>
