<div class="home-container">
  <div class="home-element-left">
    <img src="assets/images/big_horn.png" alt="Tasty horn">
    <p class="home-description">Tasty and delicious food</p>
    <p class="home-contact">Address: Kraków, Kawiory 21</p>
    <p class="home-hours">We are open everyday from 11am to 11pm</p>
    <p class="home-contact">Phone: 721 374 205</p>
    <p class="home-contact">E-mail: tastyHorn@gmail.com</p>
  </div>
  <div class="home-element-right">
    <p class="home-element-address">We are here:</p>
    <img src="assets/images/map.png" alt="Map">
  </div>
</div>
